<div class="layer-control-element-gtra date-slider-container-gtra">
    <div>
    	<input class="slider-gtra"
    		data-slider-min={{min}}
    		data-slider-max={{max}}
    		data-slider-step={{step}}
    		data-slider-value={{initialValue}}>
    </div>
    <div>
	       <label class="date-label-gtra">{{initialFormattedValue}}</label>
    </div>
</div>
